/* General Container Styling */
.profile-account-container {
  display: flex;
  /* justify-content: space-between; */
  gap: 0px;
  margin:10px 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.profile-account {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-top: 50px;
  margin-bottom: 50px;
  
}

.profile-account:hover {
  transform: translateY(-5px);
}

/* Title Styling */
.profile-account-title {
  font-size: 28px;
  color: #1a1a1a;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 600;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
}

/* Profile Info Styling */
.profile-account-info {
  font-size: 18px;
  color: #444444;
  margin: 12px 0;
  line-height: 1.6;
  
}

.profile-account-info strong {
  color: #007bff;
}

/* Edit Profile Link Styling */
.profile-account-edit-link {
  display: block;
  margin-top: 25px;
  text-align: center;
  color: #ffffff;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
  margin-bottom: 25px;
}


.profile-account-subscription-link {
  display: block;
  margin-top: 25px;
  text-align: center;
  color: #ffffff;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
  margin-bottom: 25px;
}

.profile-account-edit-link:hover {
  background-color: #0056b3;
  text-decoration: none;
}
.profile-account-subscription-link:hover {
  background-color: #0056b3;
  text-decoration: none;
}

/* Loading and No Data Styling */
.profile-account-loading,
.profile-account-no-data {
  text-align: center;
  color: #888888;
  font-size: 20px;
  margin: 50px 0;
}

.profile-account-edit-input {
  display: block;
  width: calc(100% - 22px);
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.profile-account-edit-input::placeholder {
  color: #888;
}

.profile-account-edit-input:focus {
  border-color: #007bff;
  outline: none;
}

/* Responsive Design: Stacking Cards on Small Screens */
@media (max-width: 768px) {
  .profile-account-container {
    flex-direction: column;
  }

  .profile-account {
    max-width: 100%; /* Make sure cards take full width on small screens */
  }
}

/* ticket styling */
/* Ticket List Styling */
.ticket-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ticket-card {
  background-color: #efec5b;
  border: 1px solid #3917d3;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 15px;
  transition: box-shadow 0.3s ease;
}

.ticket-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}