.subscription-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #1c1c1c;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    
}

h2 {
    margin-bottom: 20px;
}

.subscription-cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.subscription-card {
    background-color: #333;
    border: 2px solid transparent;
    padding: 15px;
    border-radius: 10px;
    width: 45%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.subscription-card.selected {
    border-color: #e50914;
    box-shadow: 0 4px 12px rgba(229, 9, 20, 0.5);
}

.subscription-card.unavailable {
    opacity: 0.6;
    cursor: not-allowed;
}

.subscription-card h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.subscription-card p {
    margin: 5px 0;
}

.checkout-button {
    padding: 10px 20px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
    transition: background-color 0.3s ease;
}

.checkout-button.active {
    cursor: pointer;
    background-color: #f40612;
}

.checkout-button:disabled {
    background-color: #e50914;
    cursor: not-allowed;
}
