

/* .footer { */
  
/* } */

/* .footer { */
  /* background-color: #f8f9fa; /* Light background color */
  /* color: #6c757d; Text color */
  /* padding: 1rem 0; Padding */
  /* width: 100%; */
  /* margin-top: 2rem; Increase the space above the footer */ */
/* } */

.footer {
  /* background-color: #f8f9fa; */
  /* background-color: #ffffff; */
  padding: 20px 0;
  flex-shrink: 0; /* Prevent footer from shrinking */
  background-color: #ffffff; /* Light background color */
  color: #6c757d; /* Text color */
  padding: 1rem 0; /* Padding */
  width: 100%;
  margin-top: 2rem; /* Increase the space above the footer */
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.footer-left {
  text-align: left;
}

.footer-left .about-link {
  display: block;
  margin-top: 5px;
  font-size: 0.875rem;
  color: #007bff;
}

.footer-left .about-link:hover {
  text-decoration: underline;
}

.footer-right {
  display: flex;
  flex-direction: column; /* Stack links vertically */
  text-align: right;
}

.footer-link {
  font-size: 0.875rem;
  color: #007bff;
  margin: 5px 0; /* Add spacing between the links */
}

.footer-link:hover {
  text-decoration: underline;
}
