/* HeaderCss.css */

.header-navbar {
  height: 50px;
  background-color: #000; /* Black background */
  display: flex;
  align-items: center;
}

.header-navbar-brand {
  display: flex;
  align-items: center;
  padding: 0;
  color: #fff; /* White text color */
  font-size: 28px;
  font-weight: 500; /* Less bold */
  text-decoration: none;
}

.header-links {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 0; /* Adjust this value as needed */
}

.header-link {
  cursor: pointer;
  color: #fff; /* White text color */
  font-size: 16px;
  font-weight: 500; /* Less bold */
  text-decoration: none;
  padding: 10px;
  border-bottom: 2px solid transparent;
}

.header-link:hover {
  border-bottom: 2px solid #fff; /* White border on hover */
}

/* Ensure elements are contained within the header when resized */
.header-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
  /* margin-left: 110px; */
  margin: auto;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .header-links {
    gap: 10px;
  }

  .header-link {
    font-size: 14px;
  }
}

.header-logo {
  max-width: 55px;
  height: auto;
}

.header-logo-text {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #fff; /* White text color */
}

/* New styles */
.secondary-navbar {
  background-color: #111; /* Close to black color */
  padding: 0px 0; /* Reduced padding for thinner navbar */
  display: flex;
}

.secondary-navbar-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  /* margin-left: 60px; */
  justify-content: center; 
}

.secondary-navbar-nav-item {
  margin-right: 20px;
}

.secondary-navbar-nav-link {
  color: #fff; /* White text color */
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.secondary-navbar-nav-link:hover {
  text-decoration: underline;
}
.secondary-navbar-nav-link:hover {
  color: #fff; /* Maintain white text color on hover */
  text-decoration: none; /* Ensure no underline or other decoration on hover */
  /* You can add more styles here if needed, but leaving it empty will keep the default appearance */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header-navbar .container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 15px;
  }

  .header-links {
    flex-direction: column;
    gap: 10px;
  }

  .header-link {
    font-size: 14px;
    padding: 8px;
  }

  .header-logo-text {
    font-size: 1.2rem;
  }

  .secondary-navbar-nav {
    flex-direction: column;
  }

  .secondary-navbar-nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
}