.carousel-caption-below {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
/* .d-block w-100{
  margin-top: 30px;
} */
.carousel-caption-below h3 {
  font-size: 2rem;
  font-weight: bold;
}

.carousel-caption-below p {
  font-size: 1.2rem;
  color: #555;
}

.get-started-button {
  margin-top: 20px;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #007bff;
  border: none;
  color: white;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.get-started-button:hover {
  background-color: #0056b3;
}

.or-separator {
  margin: 20px 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
}

.mentor-apply-link {
  font-size: 1.5rem; /* Increased font size */
  font-weight: bold; /* Made the text bold */
}

.mentor-apply-link a {
  color: #007bff;
  text-decoration: none; /* Removed underline */
  border-bottom: 2px solid transparent; /* Added bottom border */
  transition: all 0.3s ease; /* Added transition for smooth effect */
}

.mentor-apply-link a:hover {
  color: #0056b3;
  border-bottom: 2px solid #0056b3; /* Changed bottom border on hover */
  text-decoration: none; /* Ensured no underline on hover */
}
