/* TermsAndConditionsCss.css */
.terms-container {
    margin-top: 5rem;
    font-family: 'Roboto', sans-serif; /* Change the font to a documentation style font */
    margin-bottom: 50px;
  }
  
  .terms-card {
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .terms-card-title {
    font-size: 2rem; /* Increase font size */
    margin-bottom: 1rem; /* Less space between title and content */
  }
  
  .terms-card-body {
    padding: 1rem;
  }
  
  .terms-heading {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .terms-paragraph {
    margin-top: 0.5rem; /* Less space between paragraphs */
    line-height: 1.5;
  }
  