.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*  */
/* Ensure the footer sticks to the bottom of the viewport or document */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure at least full viewport height */
}

.main-content {
  flex-grow: 1; /* Allow main content to grow */
}

.footer {
  flex-shrink: 0; /* Prevent footer from shrinking */
}

/*  */
.student-profile-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.student-profile-header {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
}

.student-profile-header h4 {
  margin: 0;
}

.book-session-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #ff6f61;
  border: none;
}

.student-profile-body {
  padding: 30px;
}

.student-profile-body h5 {
  font-weight: bold;
  color: #333;
}

.student-profile-body .card {
  margin-top: 20px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.student-profile-body .badge-primary {
  background-color: #6e8efb;
}

.student-profile-body .badge-primary:hover {
  background-color: #5a76e0;
}

/*  */
.book-session-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.book-session-header {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  color: white;
  text-align: center;
  padding: 20px;
}

.book-session-header h4 {
  margin: 0;
}

.book-session-body {
  padding: 30px;
  text-align: center;
}

.book-session-body h5 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

.book-session-body .list-group-item {
  border: none;
  padding: 15px 20px;
  margin: 10px 0;
  font-size: 1.2em;
  background: #f5f5f5;
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.book-session-body .list-group-item:hover {
  background: #e2e2e2;
  transform: translateY(-2px);
}
.profile-photo {
  width: 150px; /* Adjust the size as needed */
  height: 150px; /* Adjust the size as needed */
  object-fit: cover;
}