.cancellation-refund-container {
  margin-top: 5rem;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 50px;
}

.cancellation-refund-card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;
}

.cancellation-refund-card p, .cancellation-refund-card ul {
  font-size: 1rem;
  line-height: 1.6;
}

.cancellation-refund-card ul {
  padding-left: 1.5rem;
}

.cancellation-refund-card ul li {
  margin-bottom: 1rem;
}

.cancellation-refund-card .text-muted {
  margin-top: 2rem;
  font-size: 0.875rem;
}

.policyName{
  text-align: center;
  margin: auto;
}
